::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 100%;
}

:root {
  --linkColor: #A8C1C8;
}

a {
  background:
     linear-gradient(
       to bottom, var(--linkColor) 0%,
       var(--linkColor) 100%
     );
  color: #333;
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
  text-decoration: none;
  transition: background-size .2s;
}

a:hover {
  background-size: 4px 8px;
}
